<html>

<body>
    <div>
        <form method="post">
            <input type="content" name="text" placeholder="Введите сообщение" />
            <input type="content" name="tag" placeholder="Тэг">
            <button type="submit"> Добавить </button>
        </form>
    </div>
    <div> Список сообщений</div>
    <form> method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit"> Найти </button>
    </form>

    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{content}}</span>
            <i>{{tag}}</i>

        </div>
    {{/messages}}
</body>
</html>